server:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    hosts:
    - "argocd.{{ domain }}"
    paths:
    - /
    tls:
    - hosts:
      - "argocd.{{ domain }}"
      secretName: argocd-secret
    https: true
  config:
    accounts.zeero: login
    accounts.admin: apiKey, login
    url: https://argocd.{{ domain }}
    oidc.config: |
      name: keycloak
      issuer: https://keycloak.{{ domain }}/auth/realms/master
      clientID: argocd
      clientSecret: {{ oidc_client_secret }}
      requestedIDTokenClaims:
        groups:
          essential: true
      requestedScopes:
      - openid 
      - profile 
      - email
  rbacConfig:
    policy.csv: |-
      p, role:admin, applications, *, */*, allow
      p, role:admin, clusters, get, *, allow
      p, role:admin, accounts, update, *, allow
      p, role:admin, repositories, get, *, allow
      p, role:admin, repositories, create, *, allow
      p, role:admin, repositories, update, *, allow
      p, role:admin, repositories, delete, *, allow

      p, role:editor, applications, *, */*, allow
      p, role:editor, projects, get, *, allow
      p, role:editor, repositories, get, *, allow
      p, role:editor, clusters, get, *, allow

      p, role:viewer, applications, get, */*, allow

      g, admins, role:admin
      g, zeero, role:admin
      g, editors, role:editor
      g, viewers, role:viewer
